header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    --height: 3rem;
    --padding: 1rem;

    height: var(--height);
    padding: var(--padding);

    box-sizing: content-box;

    background-color: #eaeaea;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: black;

    border-radius: 0.5rem;

    padding: 0.5rem 1rem;

    background-color: #dadada;
}

nav a.active-link {
    background-color: #386cfa;

    color: white;
}

.cart-icon-container {
    position: relative;
    cursor: pointer;
}

.cart-icon-container .cart-size {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 100%;
    padding: 0.1rem 0.45rem;
    font-size: 0.8rem;
    font-weight: bold;
    transform: translate(-50%, -50%);
    display: none;
}

.cart-icon-container .cart-size.visible {
    display: block;
}

.cart-icon-container img {
    width: calc(var(--height) * 0.8);
    height: calc(var(--height) * 0.8);
}