<div class="user-profile">
    <h2>User Profile</h2>
    <form *ngIf="!isEditing; else editTemplate">
        <div>
            <label>Username:</label>
            <input type="text" [value]="login" disabled />
        </div>
        <button type="button" (click)="toggleEdit()">Edit</button>
    </form>

    <ng-template #editTemplate>
        <form (submit)="saveChanges()">
            <div>
                <label>Username:</label>
                <input type="text" [(ngModel)]="login" name="login" required />
            </div>
            <button type="submit">Save</button>
            <button type="button" (click)="toggleEdit()">Cancel</button>
        </form>
    </ng-template>
</div>