<main>
    <h2>Liste des products de la boutique:</h2>

    <div class="product-list">
        <div class="product-container" *ngFor="let item of products">
            <p class="product-info libelle"><b>{{ item.libelle }}</b></p>
            <p class="product-info reference">Référence: {{ item.reference }}</p>
            <p class="product-info prix">Prix: {{ item.prix }}€</p>
            <button class="product-add-to-cart" (click)="addToCart(item)">Ajouter au panier</button>
        </div> 
    </div>
</main>