<main>
    <h2>Panier</h2>
    <div *ngIf="cartItems$ | async as cartItems">
        <div *ngIf="cartItems.length > 0; else emptyCart">
            <div *ngFor="let item of cartItems" class="cart-item">
                <p class="cart-item-info libelle"><b>{{ item.produit.libelle }}</b></p>
                <p class="cart-item-info reference">Référence: {{ item.produit.reference }}</p>
                <p class="cart-item-info prix">Prix: {{ item.produit.prix }}€</p>
                <p class="cart-item-info quantity">Quantité: {{ item.quantity }}</p>
                <div class="cart-item-actions">
                    <button (click)="addToCart(item.produit)">+</button>
                    <button (click)="removeFromCart(item.produit)">-</button>
                </div>
            </div>
            <div class="cart-total">
                <p>Total: {{ getTotal(cartItems) }}€</p>
            </div>
        </div>
    </div>
    <ng-template #emptyCart>
        <p>Votre panier est vide.</p>
    </ng-template>
</main>